<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uppFiles | Home</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <div class="top">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS87M0lKnSa5kdaU9oQ0t8VMHLzDJOjQ9k7Cw&s" alt="">
        <div class="btns">
            <a href="/login" class="button" id="log">Log In</a>
            <a href="/register" class="button" id="reg">Register</a>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="left">
                <div class="first-row">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS87M0lKnSa5kdaU9oQ0t8VMHLzDJOjQ9k7Cw&s" alt="">
                    <p>upp</p><p>Files</p>
                </div>
                <h2>Archive and share files online</h2>
                <i>Cloud storage for seamless file sharing and improved collaboration.</i>
                <div class="last-row">
                    <a href="/register" class="button" id="reg">Register</a>
                    <a href="/login" class="button" id="log">Log In</a>
                </div>
            </div>
            <div class="right">
                <img src="https://lh3.googleusercontent.com/iYI2SGBbQ5QUS76gz9NmYCnrxnA9fHWjO0hyik51J2rj4UhXAEUmZA_ydR9ZFGhV9SOLkTciAjJOxHhed9nb4HuE2w7YLu651VPs=e365-pa-nu-s0-rw" alt="">
            </div>
        </div>
    </main>
</body>
</html>