<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>uppFiles | <%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/loginReg.css">
</head>
<body>
    <div class="top">
        <a href="/"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS87M0lKnSa5kdaU9oQ0t8VMHLzDJOjQ9k7Cw&s" alt=""></a>
        <p>upp</p><p>Files</p>
    </div>
    <main>
        <div class="form-container">
            <h2>Login</h2>
            <form action="" method="POST">
                <% if(locals.errors){%>
                    <%- include('./partials/errors') %>
               <% } %>
                <div class="form-item"><label for="username">Username</label><input type="text" name="username" id="usr"></div>
                <div class="form-item"><label for="password">Password</label><input type="password" name="password" id="pwd"></div>
                <button type="submit">Log in</button>
            </form>
        </div>
    </main>
</body>
</html>
